html, 
body{
    box-sizing: border-box;
    background-color: #f4f5f6;
    overflow-x: hidden;
}

/*header styling*/
.h{
    background: #f72210;
    max-width: 1280px;
    height: 100px;
    color: #fff;
}

.header{
    height: 100%;
}

.header .date{
    align-self: end;
    font-size: 15px;
    font-family: sans-serif;
}

.header h1{
    font-size: 70px;
    align-self: end;
    font-weight: bolder;
    text-align: center;
}

.container .header ul{
    list-style: none;
    margin: 0;
    position: relative;
    height: 100%;
    align-items: flex-end;
}

.container .header ul li{
    margin-right: 10px;
}

.container .header ul button{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 0;
    height: 35px;
    text-align:center;
    padding-top: 5px;
    margin-bottom: 12px;
}

.container .header ul .sign-in{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.container .header ul button:hover,
.container .header ul .sign-in:hover,
.header h1{
    cursor: pointer;
}

.container header ul .menu{
    display: none;
}

@media only screen and (max-width: 1000px){
    .container{
        height: 50px;
    }

    .container header{
        flex-wrap: nowrap;
    }

    .container header .date{
        display: none;
    }

    .container header h1{
        justify-self: left;
        font-size: 30px;
    }
    
    .container header ul .btn{
        margin-bottom: 8px;
    }

    .container header ul .menu{
        display: inline;
        font-size: 25px;
        align-self: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px){
    .container{
        height: 40px;
    }
    .container header,
    .container header ul{
        flex-wrap: nowrap;
    }

    .container .header ul{
        top: 6px;
        margin-right: -15px;
    }

    .container header h1{
        font-size: 20px;
    }
    
    .container header ul .btn{
        font-size: 14px;
        height: 30px;
        margin-bottom: 12px;
    }
    
    .container header ul .menu{
        margin-bottom: 10px;
    }
}

/*navigation styling*/
.nav{
    max-width: 1280px;
    color: black;
    background: #fff;
    border-bottom:1px solid #d9d9d9;
    margin-top: -8px;
}

.nav ul{
    list-style: none;
    text-transform: capitalize;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    padding-top: 10px;
    margin: 8px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul li{
    border-right: 1px solid #d9d9d9;
    padding-right: 12px;
}

.nav ul .search{
    border-right: none;
}

.nav ul li:hover{
    color: red;
    cursor: pointer;
}

.nav ul li input{
    border: none;
    width: 80px;
}

/*featured stories styling*/
.stories-container{
    padding: 0;
    max-width: 1280px;
    background-color: white;
}

.container-fluid .news-main section .featured-story .img-wrapper img{
    width: 100%;
    background-repeat: no-repeat;
}

.news-main section{
    margin: 15px 0 0 10px;
}

.news-main section h5{
    text-transform: uppercase;
    font-size: 15px;
    color: #a0a0a0;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.news-main section .featured-story .img-wrapper{
    position: relative;
}

.news-main section .featured-story .img-wrapper .category a{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    padding: 0 5px;
    color: red;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.news-main section .featured-story h3 a{
    text-transform: capitalize;
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-decoration-color: red;
    line-height: 10px;
    width: 100%;
}

.news-main section .featured-story h3{
    line-height: 0.9em;
}

.news-main section .featured-story p{
    color: #463939;
    font-size: 15px;
    width: 100%;
    line-height: 1.2em;
}

.news-main section .featured-story .img-wrapper .category a:hover,
.news-main section .featured-story h3 a:hover{
    cursor: pointer;
}

.container-fluid top-story section{
    border: 1px solid black;
}

/*top stories*/
/*culture and travel*/
.top-story .culture-travel{
    margin-top: 15px;
    background: #e3e4e6;
    width: 100%;
    margin-left: 0;
}

.culture-travel h5{
    padding: 10px;
}

.culture-travel .content img{
    width: 100%;
}

.culture-travel .content h4{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    margin-top: 8px;
    padding: 0 5px;
    cursor: pointer;
}

.culture-travel .content p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    padding: 0 5px;
}

.culture-travel .content .tag{
    background-color: #97c6ce;
    font-size: 15px;
    padding: 0 5px;
    margin: 0 5px;
    position: relative;
    bottom: 15px;
}

.culture-travel .content .tag:hover{
    background-color: rgb(50, 50, 78);
    color: #97c6ce;
    cursor: pointer;
}

/*more-stories*/
.more-stories .item{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-gap: 15px;
    border-top: 1px solid #ddd;
}

.more-stories .item img{
    width: 100%;
}

.more-stories .item div h4{
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.more-stories .item div h4:hover{
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

.more-stories .item div p{
    font-size: 15px;
}

/*opinion section*/
.opinion-news .opinion{
    margin: 0;
    padding-left: 0;
}

.opinion-item{
    display: grid;
    grid-template-columns: 63px 1fr;
    grid-gap: 15px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
} 

.opinion-first{
    border-top: none;
    padding-top: 0;
}

.opinion-item img{
    width: 100%;
    cursor: pointer;
}

.opinion-item div h6{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.opinion-item div h6:hover{
    color:red;
    cursor: pointer;
}

.opinion-item div p{
    text-transform: uppercase;
    font-size: 14px;
    color: grey;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 8px;
}

/*latest news*/
.opinion-news .latest-news{
    margin-top: 35px;
}

.latest-news .latest-news-item{
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-gap: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px; 
}

.latest-news-item img{
    width: 100%;
    cursor: pointer;
}

.latest-news-item div h6{
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-news-item div h6:hover{
    color: red;
    cursor: pointer;
}

.opinion-news .latest-news .news-last{
    border-bottom: none;
}

@media only screen and (max-width: 768px){
    .latest-news-item{
        grid-template-columns: 268px 1fr;
    }

    .opinion-news{
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px){
    .opinion-news{
        max-width: 100%;
    }
}

/*MAGAZINE*/
/*magazine cover*/
.magazine-cover{
    margin-top: 50px;
}

.magazine-cover .img-wrapper{
    position: relative;
}

.magazine-cover .img-wrapper img{
    width: 100%;
    cursor: pointer;
}

.magazine-cover .img-wrapper .category{
    position: absolute;
    bottom: 0;
    color: red;
    background: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;
}

.magazine-cover span{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    color: black;
    font-weight: bold;
    background: #e6e1e1;
    cursor: pointer;
}

.magazine-cover span:hover{
    background: #a0a0a0;
}

/*.magazine-cover, 
.section-header{
    border: 1px solid black;
}*/

/*magazine section header*/
.section-header .section-heading{
    margin-top: 30px;
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0;
}

.section-header .section-heading img{
    margin-right: 8px;
}

.section-header .section-heading span{
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.more .item,
.magazine .row .more-magazine-items{
    margin-top: 15px;
}  

.more .item img,
.magazine .row .more-magazine-items .item img{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    height: 250px;
}

.magazine .row .more .row .item .category1,
.magazine .row .more-magazine-items .item .category1{
    text-transform: uppercase;
    color: white;
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:5px 5px;
}

.magazine .row .more .row .item .category2,
.magazine .row .more-magazine-items .item .category2{
    text-transform: uppercase;
    margin-left: 10px;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.magazine .row .more .row .item p,
.magazine .row .more-magazine-items .item p{
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    padding-top: 5px;
}

.magazine .row .more .row .item p:hover,
.magazine .row .more-magazine-items .item p:hover{
    text-decoration: underline;
    text-decoration-color: red;
}

/*conversations*/
/*header*/
.newsweek-conversations header,
.editors-pick header{
    margin-top: 30px;
    padding: 8px 0;
}

.newsweek-conversations header img,
.editors-pick header img{
    margin-right: 8px;
}

.newsweek-conversations header span,
.editors-pick header span{
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.newsweek-conversations .row{
    margin: 0 auto;
    margin-bottom: 50px;
}

.newsweek-conversations .conversation1{
    display: flex;
    background-color: black;
    flex-wrap: nowrap;
    border-right: 1px solid #d9d9d9;
}

.newsweek-conversations .conversation1 h5{
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: white;
    background: black;
    font-size: 23px;
    padding: 30px 15px 15px 15px;
}

.newsweek-conversations .conversation1 h5 span{
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.newsweek-conversations .conversation1 h5 .time{
    color: #a0a0a0;
    font-size: 20px;
    line-height: 42px;
}

.newsweek-conversations .row .conversation1 img{ 
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.newsweek-conversations .conversation2{
    display: flex;
    flex-direction: column;
    background-color: black;
    flex-wrap: wrap;
}

.newsweek-conversations .conversation2 .item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid white;
    grid-gap: 0;
    padding: 0;
}

.newsweek-conversations .conversation2 .item img{
    width: 100%;
}

.newsweek-conversations .conversation2 .item h5{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    align-self: center;
    line-height: 18px;
}

.newsweek-conversations .conversation2 .item h5 .time{
    color: #a0a0a0;
    font-weight: lighter;
}

.newsweek-conversations header img,
.newsweek-conversations .row .conversation1 img,
.newsweek-conversations .conversation2 .item img{
    cursor: pointer;
}

.newsweek-conversations .conversation1 h5:hover,
.newsweek-conversations .conversation2 .item h5:hover{
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .newsweek-conversations .conversation1{
        flex-direction: column-reverse;
        border-bottom: 1px solid #d9d9d9;
    }
}

@media only screen and (max-width: 768px){
    .newsweek-conversations .conversation1{
        flex-direction: column-reverse;
        border-bottom: 1px solid #d9d9d9;
    }
}

/*editors pick*/
.editors-pick header{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.editors-pick .row .item .img-wrapper{
    position: relative;
}

.editors-pick .row .item .img-wrapper img{
    width: 100%;
    cursor: pointer;
}

.editors-pick .row .item .img-wrapper .category{
    position: absolute;
    background:rgba(255, 255, 255, 0.8);
    bottom: 0;
    padding: 0 5px;
    color:red;
    font-size: 17px;    
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.editors-pick .row .item h5{
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 20px;
    color:black;
    font-weight: 600;
    text-decoration-color:red;
    font-family: Arial, Helvetica, sans-serif;
}

.editors-pick .row .item h5:hover{
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}

.editors-pick .row .item p{
    color:#463939;
    font-size: 15px;
    width: 100%;
    line-height: 1.2em;
}

/*before footer*/
.before-footer{
    border-top: 2px solid #d9d9d9;
    margin-bottom: 60px;
}

.before-footer .row section h3{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.before-footer .row .first{
    display: flex;
    background-color: #e7e1e1;
    padding: 30px;
}

.before-footer .row .first .img-wrapper{
    margin-right: 95px;
    margin-left: 10px;
}

.before-footer .row .first .img-wrapper,
.before-footer .row .first .img-wrapper .img1{
    position: relative;
}

.before-footer .row .first .img-wrapper .img2{
    position: absolute;
    top: 20px;
    left: 75px;
}

.before-footer .row .first .other-half{
    align-self: center;
}

.before-footer .row .first .other-half h5{
    font-weight: bold;
    color: black;
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
}

.before-footer .row .first .other-half button,
.before-footer .row .second .other-half button{
    text-transform: uppercase;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.before-footer .row .second .second-part{
    display: flex;
    border: 1px solid #e7e1e7;
}

.before-footer .row .second .second-part .img-wrapper img{
    max-width: 191px;
    height: 100%;;
}

.before-footer .row .second .other-half{
    padding: 49px 25px 25px 25px;
}

.before-footer .row .second .other-half h5{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

.before-footer .row .second .other-half p{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px){
    .before-footer .row section .first,
    .before-footer .row .second .second-part{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .before-footer .row section .first .other-half{
        text-align: center;
        padding-top: 25px;
    }

    .before-footer .row .second .second-part .img-wrapper img{
        width: 100%;
    }

    .before-footer .row .second .second-part .other-half{
        text-align: center;
    }
}

@media only screen and (max-width: 768px){
    .before-footer .row section .first,
    .before-footer .row .second .second-part{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .before-footer .row section .first .other-half{
        text-align: center;
        padding-top: 25px;
    }

    .before-footer .row .second .second-part .img-wrapper img{
        width: 100%;
    }

    .before-footer .row .second .second-part .other-half{
        text-align: center;
    }
}

/*footer*/
footer{
    margin-top: 15px;
}

footer .first{
    border-bottom: 1px solid #e7e1e1;
    margin-bottom: 0;
}

footer .first h2{
    text-transform: capitalize;
    color: red;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    cursor: pointer;
}

footer .first h2 span{
    padding-left: 10px;
    font-size: 12px;
    color: black;
    font-weight: lighter;
    color: #a0a0a0;
}

footer .first .right{
    list-style: none;
    font-size: 23px;
}

footer .first .right li{
    margin-left: 10px;
    cursor: pointer;
}

footer .first .right li:hover{
    color: blue;
}

footer .second{
    margin-top: 10px;
}

footer .second ul{
    list-style: none;
    color: #706e6e;
    text-transform: capitalize;
    font-size: 15px;
}

footer .second ul li{
    padding-right: 8px;
    border-right: 1px solid #e7e1e1;
    margin-right: 8px;
}

footer .second ul li:hover{
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    footer .first{
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer .first .right{
        padding-left: 0;
    }

    footer .second ul{
        flex-wrap: wrap;
    }
    
    footer .second ul li{
        border-right: none;
        padding-right: none; 
    }
}

@media only screen and (max-width: 768px){
    footer .first{
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer .first .right{
        padding-left: 0;
    }

    footer .second ul{
        flex-wrap: wrap;
    }

    footer .second ul li{
        border-right: none;
        padding-right: none; 
    }
}